@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
body{
    background-color: #6b727d;
}
a {
	font-family: 'PT Mono', monospace;
	padding:center;
	position:fixed;
}